---
import Wrapper from '@layouts/Wrapper.astro';
import { Header, Posts, DiscordButton, Test } from '@components/index';
---

<Wrapper title="Proyecto Plataforma v2">
	<Header>
		<h1>Login</h1>
		<DiscordButton text = "Login with Discord!" />
		<Test client:load/>
		<h1>Posts</h1>
	</Header>
	<Posts />
</Wrapper>

<style>
	img {
		margin: auto;
		display: block;
		max-width: 100%;
	}
</style>
