---
import Wrapper from '../layouts/Wrapper.astro';
/* import ListElement from '../components/ListElement.astro';
import cat from '/images/cat.jpg'; */

import { Header } from '../components/Header';

/* const tecnologies = ['Astro', 'React', 'TypeScript']; */
---

<Wrapper title="Proyecto Plataforma v2">
	<Header></Header>
	<!-- <main>
		<h1>Proyecto Plataforma <span>v2</span></h1>
		<h2>Este proyecto utiliza las siguientes tecnologías:</h2>

		
		<ul>
			{tecnologies.map((data) => <ListElement text={data} />)}
		</ul>

		<img src={cat} alt="El Diseño Gráfico es mi Pasión" />
	</main> -->
</Wrapper>

<style>
	/* h1 {
		margin: 2rem 0;
		text-align: center;
	}

	h2 {
		font-size: var(--font-size-base);
		text-align: center;
		color: var(--color-alt-text);
	}

	span {
		color: var(--color-alt2-text);
	}

	ul {
		text-align: center;
	} */

	img {
		margin: auto;
		display: block;
		max-width: 100%;
	}

	/* main {
		margin: auto;
		padding: 1em;
	} */
</style>
