---
import Wrapper from '../layouts/Wrapper.astro';
import { Header, Posts } from '../components';
---

<Wrapper title="Proyecto Plataforma v2">
	<Header>
		<h1>Posts</h1>
	</Header>
	<Posts />
	<!-- <h1 style="color: var(--color-text);"> Plataforma </h1>
	<h1 style="color: var(--color-alt-text);"> Plataforma </h1>
	<h1 style="color: var(--color-alt2-text);"> Plataforma </h1>
	<h1 style="color: var(--color-bg);"> Plataforma </h1>
	<h1 style="color: var(--color-border);"> Plataforma </h1> -->
</Wrapper>

<style>
	img {
		margin: auto;
		display: block;
		max-width: 100%;
	}
</style>
